
.parent {
    display: flex;
    flex-direction: column;
    gap: 25px;
  } 
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction:column;
    
  }
  
h4 {
    color: black;
    font-size: 18px;
    padding: 2px
  }